Port {{ item.daemon_port | default(22) }}

Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
UsePrivilegeSeparation yes

KeyRegenerationInterval 3600
ServerKeyBits 1024

SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 120

StrictModes yes

RSAAuthentication yes
PubkeyAuthentication {{ item.publickey_authentication | default('yes') }}

IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

PermitEmptyPasswords no

UsePAM yes
UseDNS no
PrintMotd {{ item.print_motd | default('no') }}
PrintLastLog yes
TCPKeepAlive yes
AcceptEnv LANG LC_*

PasswordAuthentication {{ item.password_authentication | default('no') }}

PermitRootLogin {{ item.permit_root_login | default('no') }}
ChallengeResponseAuthentication {{ item.challenge_response_authentication | default('no') }}
Subsystem sftp /usr/lib/openssh/sftp-server
X11Forwarding {{ item.x11_forwarding | default('no') }}
X11DisplayOffset 10